@use '../styles/colors';
@use '../styles/breakpoints';

.container{
  width: 100vw;
  height: 100vh;
  background: colors.$background;
  display: flex;
  align-items: center;
  padding: 8% 20px 0px 20px;
  
  @media (max-width: breakpoints.$laptop){
    padding: 8% 0px 0px 0px;
  }

  @media (max-width: breakpoints.$tablet){
    padding: 40% 0px 0px 0px;
  }

  >main{
    width: 100%;
    // background-color: cornsilk;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;

   
    >div{
      width: 45%;
      // background-color: darkmagenta;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10%;
      padding: 50px 0px 0px 310px;

      @media (max-width: breakpoints.$laptop){
        width: 40%;
        overflow: hidden;
        padding: 10px 0 0 110px;
      }

      @media (max-width: breakpoints.$tablet) {
        width: 50%;
        padding: 0px 0px 0px 40px;

    
      }

      >h1{
        line-height: 95px;
        font-size: 5rem;
        font-weight: 500;
        font-family: 'Work Sans', sans-serif;

        @media (max-width: breakpoints.$laptop){
          font-size: 4rem;
          line-height: 70px;
        }
      }
      
      >p{
        font-size: 22px;
      }

      >div{
        height: 70px;
      }
    }

    >aside{
      width: 55%;
      height: 100%;
      // background-color: crimson;
      display: flex;
      align-items: center;
      justify-content: flex;

      @media (max-width: breakpoints.$laptop){
        width: 60%;
        padding-right: 120px;
      }
    }
  }
}