@use '../styles/_colors';

.container{
  width: 100vw;
  height: 100vh;
  background: #f1ede9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 160px 20px;
  
}