@use '../styles/colors';
@use '../styles/breakpoints';

.container{
  width: 100vw;
  height: 100vh;
  background: colors.$background;
  display: flex;
  align-items: center;
  padding: 8% 20px 0px 20px;
  
  @media (max-width: breakpoints.$laptop){
    padding: 8% 0px 0px 0px;
  }
  
  @media (max-width: breakpoints.$tablet){
    flex-direction: column;
    overflow: scroll;
    padding: 0% 0px 10px 0px;
    gap: 30px;
  }

  >main{
    width: 100%;
    // background-color: cornsilk;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;

    @media (max-width: breakpoints.$tablet) {
      margin-top: 30px;
      gap: 30px;
      flex-direction: column;
    }
   
    >div{
      width: 45%;
      // background-color: darkmagenta;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 10%;
      padding: 50px 0px 0px 310px;

      @media (max-width: breakpoints.$laptop){
        width: 40%;
        overflow: hidden;
        padding: 10px 0 0 110px;
      }

      @media (max-width: breakpoints.$tablet) {
        gap: 0px;
        overflow: visible;
        width: 100%;
        height: auto;
        padding: 0px 35px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        // background: chocolate;
      }

      >h1{
        line-height: 95px;
        font-size: 5rem;
        font-weight: 500;
        font-family: 'Work Sans', sans-serif;

        @media (max-width: breakpoints.$laptop){
          font-size: 4rem;
          line-height: 70px;
        }

        @media (max-width: breakpoints.$tablet){
          width: 50%;
          font-size: 2.9rem;
          line-height: 50px;
        }
      }
      
      >p{
        font-size: 22px;

        @media (max-width: breakpoints.$tablet){
          font-size: 1.4rem;
          width: 50%;
          text-align: end;
        }
      }

      >div{
        height: 70px;
      }
    }

    >aside{
      width: 55%;
      height: 100%;
      // background-color: yellow;
      display: flex;
      align-items: center;
      justify-content: flex;

      

      >section{
        width: 100%;
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 15%;
      }

      @media (max-width: breakpoints.$laptop){
        width: 60%;
        padding-right: 120px;
      }

      @media (max-width: breakpoints.$tablet){
        // background: cadetblue;
        width: 100%;
        align-items: flex-start;
        padding: 0 40px 0px 40px;
        flex-direction: column;
        align-items: flex-end;
        margin-top: -15px;
        justify-content: flex-start;
        gap: 20%;
      }
    }
  }
}