@use '../../styles/breakpoints';

.Container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 150px;
  padding: 20px 50px;

  @media (max-width: breakpoints.$laptop){
    max-height: 120px;
  }

  @media (max-width: breakpoints.$tablet){
    padding: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    max-height: 180px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.05);
    position: relative;
  }

  @media (max-width: breakpoints.$mobile_large){
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  >main{
    display: flex;
    height: 60px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;

    @media (max-width: breakpoints.$laptop){
      // background: darkorchid;
      width: 55%;
    }

    @media (max-width: breakpoints.$tablet){
      background: rgba(255, 255, 255, 0.2);
      width: 100%;
      margin-top: -25px;
    }
  }
}

@media (max-width: breakpoints.$tablet){
  .ButtonContainer{
    position: fixed;
    top: 4.5%;
    right: 20px;
  }
}

@media (max-width: breakpoints.$mobile_large){
  .ButtonContainer{
    display: none;
  }

  .ButtonContainerMenu{
    width: 100%;
  }
}

.OpenMenuButton{
  display: fixed;
  top: 0;
  right: 0;
  width: 40px;
  height: 30px;
}

.OpenedMenu{

}

.ClosedMenu{

}